@import "../omarchy/current/theme/waybar.css";
* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Adwaita Mono';
  font-size: 12px; 
}
.modules-left {
  margin-left: 8px;
}
.modules-right {
  margin-right: 8px;
}
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.5;
}
#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-omarchy,

#custom-update {
  font-size: 16px;  /* Add this line for bigger icons */
  min-width: 12px;
  margin: 0 7.5px;
}
#tray {
  margin-right: 13px;
}
#bluetooth {
  margin-right: 13px;
}
#network {
  margin-right: 13px;
}
#temperature {
  margin-left: 13px;
  font-size: 12px;  
}
#memory {
  margin-left: 13px;
  font-size: 12px;  
}
#custom-expand-icon {
  margin-right: 13px;
  font-size: 16px;  
}
tooltip {
  padding: 2px;
}
#custom-update {
  font-size: 14px;  
}
#clock {
  margin-left: 5px;
}
.hidden {
  opacity: 0;
}
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
